@page
@model ForgotPasswordConfirmation
@{
    ViewData["Title"] = "Forgot password confirmation";
}

<h1 style="color:#F5821E;">@ViewData["Title"]</h1>
<p style="color:#F5821E;">
    Please check your email to reset your password.
</p>
